.banner {
  background-size: cover;
  background-position: center;
/*  padding: 200px 0;*/
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 600px;
  position: relative;
}
